XDG_CACHE_HOME/
__pycache__/
*.d
*.o
*.zip
*.swd
*.axf
*.pyc
*.cpython-36.pyc
/*.cpython-36.pyc
/*.pyc
/wifi_credentials
/wifi_credentials_*
/trust_anchors_signed.bin
/trust_anchors.bin
/lz_hubs.db
/updates
/fit_config_hash
